*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    --main-color:#283526;
    --primary-color:#888888;
    --button-background:#4B709E;
    --primary-button-background:#fe7649;
    --background-color:#f7f7f7;

}
h1,h2{
    font-family: "Avenir LT Std";
    color: var(--main-color);
}
h4,h5{
    font-family: "muli";
    color: var(--main-color);
}
h3{
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 4rem;
    text-transform: capitalize;
}
p,a,li,button{
    font-family: "muli";
    color: var(--primary-color);
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
    font-size: 2rem;
}
button{
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;

    font-size: 2rem;
}
.left-side img{
    width: 180px;
    height: 180px;
    object-fit: contain;
    
}
/*main style*/
header{
    padding: 0 10rem;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200;
    height: 18rem;
}
header nav .left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
}
header nav .left-side a img{
    width: 15rem;
    height: 15rem;

}
header nav .left-side .submenu { 
    height: inherit;
    display: flex;
    margin-top: -3rem;
}
header nav .left-side .submenu a{
    margin-right: 4rem;

}
header nav .left-side .submenu a li{
    font-size: 2rem;
    line-height: 3.6rem;
    text-decoration: capitalize;
    transition: all 0.2s;


}

header nav .left-side .submenu a li:hover{
    color: var(--button-background);
}

/* right side style  */
header .right-side {
    width: 50%;
    display: flex;
    justify-content: end;
}

header .right-side .submenu{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -3rem;

}
header .right-side .submenu a{
    margin-right: 8rem;
    padding: 1rem 2rem;
    background: rgba(rgb(55, 221, 233), green, blue, alpha);
    cursor: pointer;
    border-radius: 1rem;
    position: relative;
    z-index: 9;
}

header .right-side .submenu button{
    
    background-color: #045de9;
    color: #E2efff;
    z-index: 9;

}
header .right-side .submenu button:hover{
    background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);;
}
header .right-side .submenu a li:hover{
    color: var(--button-background);
}

/* our hero section css */
.mainherosection{
    padding: 0 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem 0;
    margin-top: 5rem;
}
.mainherosection .leftheroside {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}
.mainherosection h1{
    width: 55rem;
    font-size: 7rem;
    line-height: 9rem;
    margin-bottom: 5rem;
}
.mainherosection p{
    margin-bottom: 5rem;
    width: 45rem;
}
/* rightside css styles */
.mainherosection .rightheroside {
    width: 50%;
    height: 100vh;
    background: 
    linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    

   
    position: absolute;
    right: 0;
    top: 0;
    /* rounding */
    border-radius: 90px 20px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainherosection .rightheroside img{
    width: 70rem;
    height: 60rem;
    margin-top: 15%;
    margin-right: 1rem;
    border-radius: 90px 90px 90px 90px;

}

.commonsec{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
    padding: 0 10rem 0 10rem;
}

.commonsec .left-sides{
    width: inherit;
    height: inherit;
    
}
.commonsec .left-sides figure{
    width: 20rem;
    height: 65rem;
    background:linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border-radius: 20px;
    
}
.commonsec .left-sides img{
    width: 60rem;
    height: 60rem;
    margin-top: 2.5rem;
    margin-left: 5rem;
    border-radius: 90px 90px;

}

.commonsec .right-sides{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:  8rem;
}
.commonsec .right-sides h2{
    width: 50rem;
    font-style: normal;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 6.3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    
}
.commonsec .right-sides p{
    width: 50rem;
    height: 9rem;
    text-transform: lowercase;
    margin-bottom: 3rem;
}
/* -----------------------------------------section3-------------------------------- */
.commonsec .left-sides2{
    width: inherit;
    height: inherit;
    
    
}
.commonsec .left-sides2 figure{
    width: inherit;
    height: 65rem;
    background:linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border-radius: 20px 20px 20px;
    align-content: right;
    
    
}
.commonsec .left-sides2 img{
    width: 60rem;
    height: 60rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
    border-radius: 90px 90px;

}

.commonsec .right-sides2{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.commonsec .right-sides2 h2{
    width: 50rem;
    font-size: 5.5rem;
    line-height: 6rem;
    margin-bottom: 5rem;
    
}
.commonsec .right-sides2 p{
    width: 50rem;
    height: 9rem;
    text-transform: lowercase;
    margin-bottom: 3rem;
}

/* -----------------------------------------section4-------------------------------- */

.sec44 h1{
    font-size: 6rem;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: inherit;
   
}
.commonsec4{
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: inherit;
    height: 60rem;
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-bottom: 8rem;
    padding: 0 16rem;
    background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    overflow-x: hidden;
    font-family: roboto;
    border-radius: 40px 40px 40px 40px;
    -webkit-font-smoothing: antialiased; 
   
    
}

.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 8vw;  margin-left: 2vw;}
.slide-image {height: 24vw;}
.slide-image img {width: 24vw; cursor: pointer;border-radius: 40px 40px 40px 40px;}
.slide-content {width: 50vw; color: var(--main-color);; padding:3vw 14vw 3vw 9vw;}
.slide-title {font-size: 3vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 3.8REM; padding-bottom: 1.5vw;}
.slide-text {font-size: 1.50vw; line-height: 1; opacity: 0.8; padding-bottom: 4vw;}

.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;border-radius: 40px 40px 40px 40px;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -5.8vw; margin-left: 68vw; position: relative;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid var(--main-color); border-left: 0.15vw solid var(--main-color); transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}

/* -----------------------------------------section5-------------------------------- */

#section5 .right-sides{
    justify-content: flex-start;
    padding-top: -10rem;
}

#section5 .right-sides h2{
    width: 60rem;
    font-size: 4rem;
    line-height: 6.3rem;
    font-weight: 900;
}
#section5 .right-sides h3{
    margin-bottom: 2rem;
    width: 50rem;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--primary-color);
    
    font-weight: normal;
    margin-right: inherit;

}

.fa-heart{
    color:#0090FC;
    margin-right: 2rem;


}

/* -----------------------------------------footer section-------------------------------- */
 footer{
     width:100%;
     background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
     height: auto;
     padding: 5rem 10rem;
     display: grid;
     grid-template-columns: 1fr 1fr;
}

footer img{
    
        width: 150px;
        height: 150px;
        object-fit: contain;
        

}

footer .footer-menu{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer div h4{
    font-size: 3rem;
    text-transform: capitalize;
    color: black;
    margin-bottom: 2rem;

}
footer div li{
    color:white;
    
}
footer div p{
    color: white;
}

